#alerta-erro {
    display: none;
}

#alerta-sucesso {
    display: none;
}

#tabela-profissionais {
    display: none;
}

.body-container {
    margin: 20px;
}

.filter-row {
    margin-top: 20px;
}

.table-row {
    margin-top: 25px;
}