#alerta-erro {
    display: none;
}

#alerta-sucesso {
    display: none;
}

#tabela-profissionais {
    display: none;
}

.container-fluid.body-container {
    padding: 50px;
}

.filter-row {
    margin-top: 20px;
}

.table-row {
    margin-top: 25px;
}